.contact-module{
	.title-lg,
	.text-lg,
	.link-lg{
		display: none;
	}
	text-align: center;
	padding: 10px 20px;
	.contact-link{
		color: $text-color;
		border: 2px solid $red;
	    margin-bottom: 1em;
	    display: block;
		padding: 10px 55px;
		transition: $transition;
		text-align: center;
		border-radius: 3px;
		&:hover{
			background-color: $red;
			color: $white;
		}
	}

	.form-container{
		display: none;
		input,
		textarea{
			border: 0;
			outline: 0;
			background: transparent;
			border-bottom: 1px solid $border-color;
			width: 100%;
		}
		textarea{
			resize: none;
		}
	}
	.input-container{
	   
	    height: auto;
	    padding: 5px 0;
	    &.close{
	    	text-align: right;
	    	font-size: 12px;
	    	span{
	    		font-size: 10px;
	    	}
	    }
	}
}

@media(min-width: $tablet-large){

	.contact-module{
		padding: 50px 20px;
		.title-sm,
		.text-sm,
		.link-sm{
			display: none;
		}
		.title-lg,
		.text-lg{
			display: block;
		    width: 40%;
		    margin: 18px auto;
		}
		.contact-link{
		    padding: 10px 22px;
		    width: 12%;
		    margin: 0 auto;
			.link-lg{
				display: inline-block;
			}
		}
	}
}






