.desktop-header{
	display: none;
}

@media (min-width: $tablet-large){
	.desktop-header{
		display: block;
		.top-nav{
		    display: flex;
		    justify-content: space-between;
		    padding: 23px;
		    .language-selector{
		    	li{
		    		&:first-child{
		    			border-right: 1px solid;
		    			padding-right: 12px;
		    		}
		    		a{
		    			&.active{
		    				color: $red;
		    			}
		    		}
		    	}
		    }
			ul{
				display: inline-flex;
				li{
					margin-right: 12px;
					a{
						color: $text-color;
						font-family: $helveticaRegular;
						font-size: 12px;
						span{
							 margin-right: 5px;
						}
						.icon-key{
							display: inline-block;
						    @include rotate(43);
						   
						}
					}
				}
			}
		}
		.main-nav{
		    position: absolute;
		    top: 67px;
		    left: 83px;
		    z-index: 1;
			.logo{
				width: 20%;
				@include translate(0, 25px);
			}
			.menu-container{
				@include translate(24%, 0);
				ul{
				    display: flex;
				    justify-content: center;
				    li{
				    	 margin-right: 2em;
				    	a{
				    		color: $white;
				    		transition: $transition;
				    		&:hover{
				    			color: $red;
				    		}
				    	}
				    }
				}
			}
		}
	}
}