.lizing-module{
	.header{
		padding: 10px 20px;
	}
	.relative-container{
		position: relative;
		height: auto;
           
		.red-box{
			background-color: $red;
		    height: 225px;
		    width: 95%;
		     // position: absolute;
		     // right: 0;
		     @include  translateX(5vw);
		}
		.img-container{
			width: 95%;
			//position: absolute;
			@include translateY(-142px);
			margin-bottom: -122px;
		}

	}
	.content{
		padding: 0 14px;
		position: relative;
		.cta-wrapper{
		    margin-top: 1em;
		    margin-bottom: 1em;
		}
	}
}

@media (min-width: $tablet-large){
	.lizing-module{
	    
	    padding: 155px 0;
		.flex-lg{
		  display: flex;
		 
    	  //padding: 143px 0 23px;
		  .header{

		  }
		    .relative-container{
		    	position: relative;
				.red-box{
					background-color: $red;
				    height: 45vh;
				    position: absolute;
    				right: 0;
    				top: -155px;
				     
				}
				.img-container{
					width: 95%;
					position: relative;
					 @include translateY(-96px);
					 margin-bottom: -120px;
					 #lizingOverlay{
					 	position: absolute;
					    top: 0;
					    left: 0;
					    background: $border-color;
					    width: 100%;
					    height: 100%;
					 }
				}
			}
			
		}
		
		.content{
			width: 66%;
			margin: 49px auto -80px;
		}
	}

	
}