.newsletter-module {
	border-top:  1px solid #e6e6e6;
	border-bottom:  1px solid #e6e6e6;
	background-color:  #f2f2f2;
	padding: 20px;
	text-align: center;

	.input-container{
		.input-field{
			padding: 10px;
		}
		a{
		background: $red;
		color: $white;
	    padding: 12px 20px;
	    margin-left: -5px;
		    p{
		    	display: none;
		    }
		}
	}
}

@media(min-width: $tablet-large){
	.newsletter-module{
		padding: 50px 20px;

		p{
			font-size: 18px;
		}
		.input-container{
		.input-field{
		    width: 29%;
		    font-size: 15px;
		    padding: 11px;
		    font-family: $helveticaLight;
		}
		a{
			padding: 12px 50px;
			
			font-family: $helveticaLight;
			i { display: none; }
			p { 
				display: inline !important;
				font-size: 14px;
			}
		}
	}
	}
}